.group::after {
  content: "========================";
  display: block;
  clear: both;
}

.landingHeroBox {
  padding: 15px 15px;
  width: 250px;
  border-radius: 5px; 
  background: white;
  box-shadow: 2px 2px 20px rgba(8, 74, 28, 0.05);
}
.landingHeroBox2 {
  padding: 15px 15px;
  width: 250px;
  border-radius: 5px; 
  background: white;
  margin-left: -15px;
  box-shadow: 2px 2px 20px rgba(8, 74, 28, 0.05);
}

.sideCTA {
  border-bottom: 1px solid rgba(8, 73, 28, 0.05);

  display: flex;
}

#routesNearYouHeader {
  font-weight: 600;
  color: #16C94C;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#routesNearYouBody {
  display: flex;
  flex-wrap: wrap;
}

.sideCTABody {
  padding: 10px 10px;
}

.routeRecommendationCard {
  padding: 15px;
  width: 31%;
  height: 200px;
  border: 1px solid rgba(8, 73, 28, 0.1);
  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #16C94C;

  border-radius: 5px;
}

.routeRecommendationCard:hover {
  color: #00962d;
  box-shadow: 1px 1px 8px #00962d2b;
}

.sideCTAHeaderText {
  padding-bottom: 5px;
  font-weight: 500;
}

.CTALink {
  color: #16C94C;
  font-weight: 600;
}

.CTALink:hover {
  color: #00962d;
}

.sideCTABodyText {
  padding-bottom: 5px;
  font-size: 14px;
}

.sideCTAIcon {
  font-size: 24px;
  color: #16C94C;

  background: white;

  width: 50px;
  height: 50px;
  padding: 5px 10px;

  margin: 10px 0px;

  border-radius: 25px;
  border: 2px solid #00962d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.borderless {
  border: 0px;
}

.landingHeroSideBox {
  padding: 15px 15px;
  width: 250px;
  border-radius: 5px; 
  /* background: white; */
  /* box-shadow: 2px 2px 20px rgba(8, 74, 28, 0.05); */
}

#landingHeroLeftContainer {
  height: 175px;
}

#landingHeroCenterContainer {
  width: 600px;
  height: 270px;
  /* min-height: 270px; */
  /* overflow-y: scroll; */
}
#landingHeroCenterContainer2 {
  width: 600px;
  /* height: 270px; */
  margin: 25px 0px;

  /* display: flex; */
  /* flex-wrap: wrap; */
}

#usersRoutes {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-height: 650px) {
  #landingFooterCont {
    display: none !important;
  }

  #landingHeroContainer {
    height: calc(100vh - 56px) !important;
  }
}

.doggoAvatar {
  width: 64px;
  margin-bottom: 10px;
}

.doggoRouteFooter {
  display: flex;
  align-items: flex-end;
}

#userCardIcon {
  padding-top: 5px;
}

#landingHeroRightContainer {

}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

#userCardFooter {
  border-top: 1px solid rgba(8, 73, 28, 0.1);
  padding: 10px 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  color: #16C94C;
}

#userCardFooter:hover {
  color: #00962d;
}

.doggoRouteTitle {
  font-weight: 600;
}

.doggoRoutePoopIcon {
  margin: 0px 5px;
  /* font-size: 14px; */
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}