.LandingNavCont {
  display: flex;
  position: fixed;
  overflow-y: hidden;
  align-items: center;
  height: 56px;
  width: 100%;
  z-index: 5;
  top: 0;
  background-color: #F8F8F8;
}

.LandingNavSubCont {
  height: 100%;
  background-color: black;
  margin-top: 56px;
}

.langingNavButton {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500px;
  margin-left: 90%;
  cursor: pointer;
}

.langingNavButton:hover {
  cursor: pointer;
}