.LandingNavCont {
  display: flex;
  position: fixed;
  align-items: center;
  height: 56px;
  width: 100%;
  z-index: 50000;
  top: 0;
  background-color: #F8F8F8;
}

#landingNavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  height: 56px;
  width: 100vw;
  border-bottom: 1px solid rgba(8, 73, 28, 0.1);
}

#landingNavbarSearch {
  color: #16C94C;
  padding: 0px 15px;
  margin-left: 15px;
}

#landingNavbarSearch:hover {
  color: #00962d;
  cursor: pointer;
}

#landingNavbarMenuDashboard {

}

#landingNavbarMenuExplore {

}

.landingNavbarMenu {
  color: #7e7e7e;
  padding: 0px 15px;
  height: 50px;

  display: flex;
  align-items: center;

  /* z-index: 0; */
}

.dropItem {
  padding: 5px 15px;
  margin-bottom: 5px;
  color: #7e7e7e;
  text-decoration: none;
}

.dropItem:hover {
  background: rgb(226, 226, 226);
  color: #00962d;
  text-decoration: none;
}

.landingNavbarMenu:hover {
  border-left: 1px solid rgba(8, 73, 28, 0.1);
  border-right: 1px solid rgba(8, 73, 28, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 0px;
  padding-top: 0px;

  cursor: pointer;
}

.landingBarDrop {
  position: absolute;
  top: 54px;
  display: none;
  padding: 0px 5px;
  border: 1px solid rgba(8, 73, 28, 0.1);
  background: #F7F7FA;
}

#mask {
  position: relative;
  top:-2px;
  left:-5px;
  width:76px;
  height: 5px;
  background-color:#F7F7FA;
}

#userDropMask {
  position: relative;
  top:-2px;
  left:49px;
  width:44px;
  height: 5px;
  background-color:#F7F7FA;
}

#landingBarDashboardDrop {
  left: 174px;
  /* top: px; */
  width: 125px;
}

#landingNavbarMenuRoute, #landingNavbarMenuUser > i {
  color: #16C94C;
}

#landingNavbarMenuRoute:hover, #landingNavbarMenuUser:hover > i {
  color: #00962d;
}

#landingBarUserDrop {
  right: 59px;
  width: 100px;
}

#landingNavbarMenuDashboard:hover > div#landingBarDashboardDrop {
  display: block;
}

#landingNavbarMenuUser:hover > div#landingBarUserDrop {
  display: block;
}

#landingNavbarMenuExplore:hover div.landingNavbarMenu {
  border-bottom: 0px;
}

.landingNavbarSelected {
  border-bottom: 3px solid #16C94C;
  padding-top: 3px;
}

#landingNavbarLeftContainer {
  display: flex;
  align-items: center;
}

#landingNavbarRightContainer {
  display: flex;
  align-items: center;
}

#landingHeroContainer {
  margin-top: 56px;
  padding: 25px 15px;
  background: #F7F7FA;
  height: calc(100vh - 266px);
  display: flex;
  justify-content: space-around;
}

#searchIcon {
  color: #16C94C;
}

#searchIcon:hover {
  color: #00962d;
}

.LandingNavSubCont {
  height: 100%;
  background-color: black;
  margin-top: 56px;
}

.landingNavButton {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500px;
  cursor: pointer;
}

.landingNavButton:hover {
  cursor: pointer;
}

#landingFooterCont {
  display: flex;
  border-top: 1px solid rgba(8, 73, 28, 0.1);
  justify-content: space-around;
  padding: 20px 0px;
  background: #F7F7FA;
  color: white;
  /* text-transform: uppercase; */
  font-family: MaisonNeue, "Segoe UI", "Helvetica Neue", -apple-system, system-ui, system-ui, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#landingLogoFont {
  font-family: 'Flavors', cursive;
  font-size: 40px;
  color: #16C94C;
  margin-top: 10%;
}

#landing-logoFont a{
  font-family: 'Flavors', cursive;
  font-size: 32px;
  color: #16C94C;
  text-decoration: none;
}

#landing-navGroup {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 2%;
}

#landing-navGroup p{
  color: #62626B; 
  font-size: 9px;
  padding: 20px 0px;
}

#landing-navGroup h5 {
  color: #78787F;
  word-break: break-word;
  line-height: 22px;
  font-size: 18px;
  font-weight: 500;
}

#landing-navGroup ul {
  list-style-type: none;
  /* margin-left: -30%; */
  font-size: 15px;
  padding-inline-start: 0px;
}

#landing-navGroup li {
  padding: 5px 0px;
}

#landing-navGroup a {
  text-decoration: none;
  color: rgb(171, 171, 172);
  font-weight: 500;
}

#landing-navGroup a:hover {
  color: #78787F;
}

#landing-navGroup .icon {
  color: #78787F;
  margin-right: 10px;
}

