/* .body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100vh;
} */

.navbar{
  padding: 0;
}

.map-cont {
  height: 80vh;
}

.map {
  /* height: 350px; */
  height: 80vh;
}

.map-nav {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  color: #6E6E6E;
  margin-top: 56px;

}

.map-search-cont {
  
}

.map-searchbar {
  height: 45px;
  margin: 0px 15px;
}

.fa-search {
  margin-right: 15px;
}

.map-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 8px 0px 9px;
  border-radius: 5px;
}

.map-button:hover {
  background-color: rgb(228, 225, 225);
  color: rgb(43, 42, 42);
}

.map-save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  padding: 0px 15px;
  font-weight: 600;
  background-color: #16C94C;
  color: #6E6E6E;
  margin-right: 10px;
}

.map-save-button:hover {
  background: #00962d; 
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.modal1 {
  position: absolute;
  border: 1px solid white;
  background: white;
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  width: 600px;
  color: black;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  z-index: 10500;
  overflow: none;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-header {
  width: 100%;
  font-weight: 700;
}

.modal-input-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 75%;
  margin: auto;
}

.modal-button-cont {
  display: flex;
  flex-direction: row;
  margin-left: 400px
}

.modal-button {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 900px;
  margin: 10px 5px;
}

.modal-button:hover {
  cursor: pointer;
  opacity: .7;
}

.cancel {
  background-color: white;
  color: black;
}

.save {
  background-color: black;
  color: white;
}

.routeIndex-header {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  margin-left: 5%;
  margin-top: 56px;
}

.routeIndex-create-button {
  border-radius: 5px;
  width: 155px;
  height: 40px;
  background-color: #16C94C;
}

.routeIndex-create-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.routeIndex-create-button:hover {
  background: #02B538; 
  cursor: pointer;
}

.map-index-cont {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 45px;
  padding-left: 0px;
  border-top: 1px solid gray;
}

.map-card {
  height: 225px;
  width: 175px;
}

.map-card-li {
  margin: 15px;
}

.map-thumb-footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: #F7F7F7;
  padding: 5px;
}

.map-thumb-footer h6 {
  padding: 5px;
}

.map-thumb-footer-dist-cont {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.map-thumb-footer-dist {
  font-size: 24px;
  font-weight: 300;
}

.map-thumb-footer h6 {
  font-weight: 600;
}

/* hides the leaflet element control button */
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
.route-detail{
  padding: 20px;
}

.route-detail h1{
  padding: 10px;
}
.route-detail-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  padding: 10px;
}

.map-route-detail{
  /* width: 50%; */
  /* border: 1px solid red; */
}
.route-detail-left{
  width: 50%;
  /* border: 1px solid blue; */
  margin-right: 10px;
}
.route-detail-right{
  width: 50%;
  /* border: 1px solid green; */
  padding: 5px;
}

